.RData
.Rhistory
participants.db
.psiturk_history
server.log
__pycache__
static/js/jspsych/examples/
*csv
node_modules
.nyc_output
analysis/txt/datastring.json
analysis/txt/res-raw.tsv
analysis/txt/test.json
attic/
config_local.txt
settings.md
