/* feedback */
.feedback {padding: 5px; font-size: smaller}
.win { border: solid green 5px;}
.nowin { border: solid black 5px;}
.net {  font-size: larger; padding: 10px;}
.net.win {background-color: green; color:white;}
.net.nowin {background-color: red; color:white;}
.sym { font-size: 60px; padding: 20px;}
/*.cost { background-color: #ff0000; color:white;}*/
.cost { border: solid black 5px;}
.wallet { padding-bottom: 20px; }

.card.small { font-size: 40px; min-height: 100px; }
   
.small.chosen::after {
    content: url('../images/star.png');
    position: absolute;
    display: flex;
    margin-top: -100px;
    /*margin-left: -100px;*/
    width: 100px;
}
.nowin-card.chosen::after {
    content: '💣';
    position: absolute;
    display: flex;
    margin-top: -100px;
    margin-left: -25px;
    width: 10px;
}
/* hide badge until we remove hide1 */
.nowin-card.chosen.hide1::after, .small.chosen.hide1::after {
    content: "";
}

.feedback.hide1, .feedback.hide2 {
  visibility: hidden;
}

/*
.chosen::after {
    content: url('../images/star.png');
    position: absolute;
    z-index: -1;
}
*/
